.button {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  padding: 18px 25px;
  background: #0086a8;
  border-radius: 8px;
  border: none;

  &:hover {
    background: #007693;
    cursor: pointer;
  }

  &:active {
    background: #00657e;
  }

  p {
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
  }
  &:disabled {
    background: #e3e3e3;
    cursor: default;

    p {
      color: #828282;
    }
  }
}