@import 'src/common/styles/variables';

.wrapperApp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  .content {
    width: 80%;
    display: flex;
    justify-content: center;
    @media (max-width: 600px) {
        width: 100%;
      }
  }
}



