@import 'src/common/styles/variables';

.chartWrapper {
  padding: 20px 20px;
  width: 80%;
  max-width: 500px;
  min-height: 466px;
  box-shadow: 0 5px 20px rgba(53, 50, 56, 0.14);
  border-radius: 8px;

  .chartBlock {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    width: 100%;
    gap: 20px;

    h2 {
      font-size: 2.25rem;
      line-height: 1.25;
      font-weight: 600;
      text-align: center;
      margin-bottom: 0.75rem;
      color: $textColor;
      @media (max-width: 360px) {
        font-size: 1.8rem;
      }
    }

    .table {
      display: flex;
      width: 50%;
      justify-content: space-evenly;
      border: 1px $mainBGC solid;
      border-radius: 5px;
      padding: 15px;
    }
  }

}
